
:root {
  --green: hsl(75, 94%, 57%);     
  --white: hsl(0, 0%, 100%);      
  --grey-700: hsl(0, 0%, 20%);    
  --grey-800: hsl(0, 0%, 12%);     
  --grey-900: hsl(0, 0%, 8%);      
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--grey-900);
  color: var(--white);
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}


.card {
  background-color: var(--grey-800);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 384px;
  text-align: center;
}

.avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.location {
  color: var(--green);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}

.bio {
  font-size: 14px;
  margin-bottom: 24px;
  font-weight: 400;
}

.links-section {
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

.social-btn {
  display: block;
  background-color: var(--grey-700);
  color: var(--white);
  text-decoration: none; 
  padding: 14px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  transition: 0.3s;
}

.social-btn:hover {
  background-color: var(--green);
  color: var(--grey-900);
}